*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    position: sticky;
    top: 0;
    background: #FE3A29;
}


/* main{
    
} */

figure{
    padding: 2%;
    background: #D31668;
    margin-right: 30px
}

form{
    padding:15px;
    border: 30px solid #FD6C1F;
}

.navli{
    display: inline;
}

#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;

}